#top-picks {
	
	height: 300px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	margin: 10px;
}

#show-results {
	height: 50px;
	margin-top: 20px;
}

#root {
	height: 50px;
}

.rateBtn {
	width: 25px;
}