html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Raleway Dots', cursive;*/
	font-weight: 300;
	padding-left: 25px;
	padding-right: 25px;
}
#top-picks {
	margin: 10px;
	/*color: #D1457A;
	font-family: 'Raleway Dots', cursive;*/
	display: flex;
	justify-content: space-around;
}

#top-picks, #reviewTitle {
	color: #D1457A;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

#show-results {

}

.rateButtons {
	display: flex;
}

.container {
	height: 100%;
/*	margin-left: 50px;
	margin-right: 50px;*/
	max-width: 1000px;

}

.main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80%;
	background: url(/static/images/brenda-godinez-227272-unsplash.jpg) no-repeat center center;
	/*background: url(/static/images/eaters-collective-172258-unsplash.jpg) no-repeat center center;*/
	background-size: cover;
}

.signupHero {
	height: 80%;
	background: url(/static/images/brooke-lark-296282-unsplash.jpg) no-repeat center center;
	background-size: cover;
}

.adventure {
	font-family: 'Kaushan Script', cursive;
	color: #00C1BE;
	padding-left: 10px;
	font-size: 3em;
	text-shadow: 2px;
	/*font-weight: 700;*/
}

.column {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
}

#hero-image {
	height: 100%;
}

.logo {
	height: 10%;
}

#logo {
	margin-right: auto;
	font-family: 'Kaushan Script', cursive;
	color: #00C1BE;
	font-size: 3em;
	margin-top: auto;
	margin-bottom: auto;
}

.navbar-style {
	background-color: none;
}

.navbar-brand {
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Kaushan Script', cursive;
	font-size: 1.75em;
	/*font-family: 'Bungee Shade', cursive;*/
}

.navbar-brand, #navbarDropdown {
	color: #00C1BE;
}

.navbar-nav .dropdown-menu {
	position: absolute;
}

.dropdown-item {
	color: #D1457A;
}

.dropdown-item:hover {
	background-color: #D1457A;
	color: white;
}

.login-form-container {
	margin: auto;
	width: 60%;
}

#login-form {
	display: block;
	position: relative;
	top: 0%;
	margin: auto;
	width: 300px;
}

.footer {
	height: 10%;
	display: flex;
	align-items: flex-end;
	font-family: 'Raleway Dots', cursive;
	font-size: 0.75em;
}

.carousel {
	width: 70%;
	margin: auto;
}

#carouselExampleIndicators {
	max-width: 500px;
	max-height: 400px;
}

.carousel-inner {
	display: flex;
	justify-content: space-around;
	background-size: cover;
	/*height: 500px;*/
}

.carousel-item {
	height: 500px;
	padding-left: 120px;
	padding-right: 100px;
	padding-top: 100px;
}

.restaurantName {
	font-size: 1.5em;
}

a {
	color: #00C1BE;
}

a:hover {
	color: #F9CE3E;
	text-decoration: none;
}

#ratingParent {
	display: flex;
	justify-content: space-around;
}

.fa-dollar-sign,
.fa-star,
.fa-star-half {
	color: #D1457A;
}

.fa-chevron-circle-left,
.fa-chevron-circle-right {
	color: #00C1BE;
	font-size: 2em;
	background-color: white;
}

.loginFail {
	display: none;
}

.carousel-indicators li {
	background-color: #dee2e6;
	width: 10px;
	height: 10px;
	border-radius: 8px;
}

.carousel-indicators .active {
	background-color: #00C1BE;
}

.userReview {
	margin-bottom: 15px;
	margin-top: 10px;
}

.reviewName, .searchHeader {
	font-size: 1.2em;
	font-weight: 700;
	color: #D1457A;
	font-family: 'Raleway Dots', cursive;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-outline-info {
	color: #00C1BE;
	border-color: #00C1BE;
}

button.btn.btn-outline-info {
	box-shadow: none;
	background-color: white;
	text-align: center;
}

button.btn.btn-outline-info:hover {
	background-color: #00C1BE;
	color: white;
	border-color: white;
}

button.btn.btn-outline-info.selected {
	background-color: #00C1BE;
	color: white;
	border-color: white;
	box-shadow: none;
}

.btn-primary {
	background-color: #00C1BE;
	border: none;
}

.filterDivide {
	margin-top: 5px;
	margin-bottom: 5px;
}

.filterDivide.sort {
	margin-top: 5px;
	margin-bottom: 20px;
}

.address {
	font-weight: 700;
}

.filterPanel {
	padding-top: 55px;
}

.filterLabels {
	font-weight: 500;
}

.filterPanelBorder {
	padding: 10px;
	border-radius: 8px;
	background-color: #F9F9F9;
}

.col-5.filterPanel {
	max-width: 275px;
	margin-right: 50px;
	padding: auto;
}

.form-control-sm {
	width: 220px;
}

.pricefilter {
	width: 55px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.ratingfilter {
	width: 44px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 6px;
}

.hidden {
	display: none;
}

.filterStars i{
	font-size: 2em;
	color: #D17D9D;
}


.filterStars.selected i{
	color: #D1457A;
}