<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <h4>Zelp</h4>
    {% if 'username' in session %}
    <p><a href="/profile">Back to profile</a></p>
    <footer><a href="/handle-logout">Log out</a></footer>
    {% endif %}
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    {% block content %}BODY CONTENT GOES HERE{% endblock %}
    <!-- <footer>Hackbright Project</footer> -->

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/js/show-search-results.js"></script>

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
<script src="/static/js/search.jsx" type="text/jsx"></script>
<body>
</html>