{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block content %}

{% if user %}
{% if rating %}
<p>Your rating: {{ rating }}</p>
{% else %}
<p>Tell us what you think about {{ restaurant.name }}:</p>
{% endif %}
<div>
  <form action="/rate-restaurant" method="POST">
  	<input type="hidden" name="rating" value="1">
  	<input type="hidden" name="restaurant_id" value="{{ restaurant.restaurant_id }}">
   	<input type="submit" value="1">
  </form>
  <form action="/rate-restaurant" method="POST">
  	<input type="hidden" name="rating" value="2">
  	<input type="hidden" name="restaurant_id" value="{{ restaurant.restaurant_id }}">
   	<input type="submit" value="2">
  </form>
  <form action="/rate-restaurant" method="POST">
  	<input type="hidden" name="rating" value="3">
  	<input type="hidden" name="restaurant_id" value="{{ restaurant.restaurant_id }}">
   	<input type="submit" value="3">
  </form>
  <form action="/rate-restaurant" method="POST">
  	<input type="hidden" name="rating" value="4">
  	<input type="hidden" name="restaurant_id" value="{{ restaurant.restaurant_id }}">
   	<input type="submit" value="4">
  </form>
  <form action="/rate-restaurant" method="POST">
  	<input type="hidden" name="rating" value="5">
  	<input type="hidden" name="restaurant_id" value="{{ restaurant.restaurant_id }}">
   	<input type="submit" value="5">
  </form> 	
</div>
{% endif %}

<div id="details"></div>

<div id="rating"></div>

{% endblock %}