{% extends 'base.html' %}

{% block title %}Profile{% endblock%}

{% block content %}

<p>Welcome back, {{ session.username }}!</p>

<div id="top-picks">
<p>TOP PICKS FOR YOU (5)</p>
<ul>
	{% for rec in recs %}
	<li>{{ rec.name }} ({{ rec.city }})</li>
	{% endfor %}
</ul>

</div>

<form action="/handle-search">
	Find <input type="text" name="find">
	<select name="location" required>
		{% for city in cities %}
		<option value="{{ city[0] }}">{{ city[0] }}</option>
		{% endfor %}
	</select>
	<input type="submit" value="Search">
</form>

<p><a href="/handle-logout">Log Out</a></p>

{% endblock %}