{% extends 'base.html' %}

{% block title %}Sign Up{% endblock%}

{% block content %}

<div class="container">
	<div class="row logo">
		<h1 id="logo"><a href="/">tasteBud</a></h1>
	</div>
	<div class="row signupHero">
		<div class="column col adventure"><h2>Your culinary adventure awaits</h2></div>
		<div class="column col login-form-container">
			<form class="dropdown-menu p-4" action="/handle-signup" id="login-form" method="POST">
				<div class="loginFail">
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						Failure!
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
				</div>
				</div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="username" id="username-field" placeholder="Username">
			  </div>
			  <div class="form-group">
			    <input type="password" class="form-control" name="password" id="password-field" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary">Sign Up</button>
			  <div class="signup mt-3">Already have an account? <a href="/">Log in</a></div>
			</form>
		</div>
	</div>
	<div class="row footer">
		<p>Hackbright Project 2018</p>
	</div>
</div>
{% endblock %}